#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.footer {
  color: #888;
}


.textarea {  /* this can also be called just textarea - it will apply to eveywhere I use textarea*/
  padding: 10px; /*creates padding around the text area*/
  border-radius: 4px; /*corner is roundeded of*/
  border: 1px solid #444; /*create border*/
  background-color: #333;
  color: white;
  height: 400px;
  width: 100%; /*makes the textarea expand to fill 100% of container's width*/
  box-sizing: border-box;
  resize: none;
}

